@font-face {
    font-family: 'DM sans';
    src: url('../fonts/DM sans/DMSans-VariableFont_opsz\,wght.ttf');
    font-weight: normal;
    font-display: swap;

    font-family: 'Sequel Sans';
    src: url('../fonts/Sequel Sans/SequelSansVFHead.eot');
    font-weight: normal;
    font-display: swap;
}

header {
    padding-top: 23px;
    padding-bottom: 27px;
    background-color: white;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    position: relative;
}

footer {
  background: black;
  flex-shrink: 0;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div {
    margin: 0px;
}

header nav {
    max-width: 715px;
    font-size: 15px;
    width: 100%;
}

header nav ul {
    margin: 0px;
    padding-inline-start:0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    font-family: 'DM sans', sans-serif;
    font-weight: 400;
    width: 100%;
}
header nav ul a {
    text-decoration: none;
    color: rgba(38, 38, 38, 0.6);
}
header nav ul a:hover {
    color: rgba(38, 38, 38, 1);
}
header .button {
    font-family: 'DM sans', sans-serif;
    font-size: 14px;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 10px 8px 11px 40px;
    background-color: rgba(184, 194, 206, 1);
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center left 14.5px;
    transition: 0.3s;
}
header .button:hover {
    cursor: pointer;
    opacity: 70%;
}
body{
    background-color: #F9FAFC;
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

html{
    height: 100%;
}

main{
    flex-grow: 1;
}

div{
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
}

nav{
    display: inline-block;
}


li{
    display: inline-block;
}
p{
    font-family: 'DM sans', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 58%;
    left: 34%;


}

 .custom-btn {
    font-family: 'DM sans', sans-serif;
    background-color: #262626;
    color: white;
    padding: 18px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 66%;
    left: 36%;
  }
  .custom-btn:hover {
    background-color: #000000;
  }


.active{
    font-family: 'DM sans', sans-serif;
    font-weight: 700;
    color: rgba(38, 38, 38, 1);
}
.image-text-container {
  position: relative;
  display: inline-block;
}

.text-overlay {
  position: absolute;
  top: 35%;
  left: 42%;
  line-height: 100%;
  width: 70%;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, #262626, #B8C2CE);
  transform: translate(-50%, -50%);
  font-family: 'Sequel Sans', sans-serif;
  font-size: 64px;
  font-weight: 900;
}

.basketball-player{
    position: absolute;
    left: 14%;
}

